table {
				width: 100%;
				border-collapse: collapse;
			}

			tr, td {
				padding: 8px;
				font-size: 14px;
			}

			@media (max-width: 768px) {
				body {
					font-size: 14px;
				}

				table {font-size: 12px;
					  }
			}

